* {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, serif;
    color: #252525;
    box-sizing: border-box;
}

header {
    background: #252525;
    padding: 0px 0px;
    color: #fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    display: flex;
}

ul {
    display: flex;
}

.ul {
    display: block;
}

li {
    padding: 10px;
    list-style: none;
}

a {
	text-decoration: none !important;
	color: #8bc63fb5!important;
    cursor: pointer;
    font-size: 18px;
    list-style: none;
}

.flex{
	display: flex !important;
	margin-bottom: 0px !important;
}

li{
	margin: 10px;
    padding: 10px;
    list-style: none;
}

main {
    background-image: url(img/fundo.png) ;
    background-position: center;
    background-size: cover;
    padding: 160px 0px 250px;
    text-align: center;
}

.navbar-toggler {
    display: none !important;
}

h1 {
    color: #252525;
    font-size: 48px;
    text-transform: uppercase;
}

h1::after {
    content: "";
    display: block;
    width: 27px;
    height: 4px;
    background: #252525;
    margin: 7px auto;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 22px;
    margin-top: 30px;
}

h3{
    color: #252525;
    font-size: 48px;
    text-transform: uppercase;
}

main p {
    color: #8bc63f;
    font-size: 14px;
    text-transform: uppercase;
    display: inline;
}

p {
    text-align: center;
    display: flex;
    max-width: 460px;
    font-weight: bold;
    font-size: 18px;
    justify-content: center;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralizar{
    display: flex;
}

.carrinho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adicionar-produtos {
    display: flex;
    background: #c17139;
    font-size: 16px;
    font-family: Courier, monospace;
    text-transform: uppercase;
    padding: 14px 14px;
    border-radius: 4px;
    width: fit-content;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
}

.container::after,
.container::before {
    content: "";
    display: table;
    clear: both;
}

.container-item {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.container-item img {
    display: block;
    height: 260px;
    width: 350px;
}

.container-item h3 {
    font-size: 30px;
    line-height: 20px;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    margin-top: -25px;
    margin-bottom: 30px;
    position: relative;
}

.container p {
    font-size: 22px;
    font-style: italic;
    margin-top: 60px;
    padding: 33px;
}

.produtos {
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos2 {
	margin-top: 75px;
	flex: 1;
	padding: 20px 10px;
}

.produtos2 header {
	display: flex;
}

.produtos2 h1 {
	flex-grow: 1;
}

.produtos-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.produtos-container::before,
.produtos-container::after {
    content: "";
    display: table;
    clear: both;
}

.produtos-item2 {
    background: #ced4da;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 35%);
    margin-top: 20px;
    position: relative;
    display: flex;
}

.produtos-item2 a {
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-indent: -200px;
	position: absolute;
	right: 20px;
	top: 10px;
	background: url('img/edit.svg') no-repeat;
}

.produtos-item2 a:hover {
	background: url('img/edit-hover.svg') no-repeat;
}

.produtos-item2 img {
    width: 200px;
    height: 190px;
}

.produtos-item2 ul {
	padding: 0 20px;
}

.produtos-item2 li {
	padding: 10px 0;
	font-size: 1.125em;
	font-family: Courier, monospace;
	border-bottom: 1px solid #e7e4d8;
}

.produtos-item2 li:last-child {
	border: none;
}

.produtos-item2 span {
	font-weight: bold;
	width: 70px;
	display: inline-block;
}


.produtos-item {
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}


.produtos-item h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    }

.produtos-item h2::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #d6d3c8;
    box-shadow: 0 0 0 10px currentColor;
}

h2.produtos-paulista::before {
    color: #492901;
}
h2.produtos-carioca::before {
    color: #c17139;
}
h2.produtos-mineiro::before {
    color: #d7a54d;
}

.produtos-item p {
    text-align: center;
    line-height: 20px;
}

.produto-btn {
    color: #252525 !important;
    width: 180px;
    border: 3px solid;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 5px auto 0 auto;
}

.locais {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.locais-item {
    display: flex;
    clear: both;
    margin: 60px auto;
    overflow: hidden;
}

.locais-item img {
    width: 460px;
    display: block;
    float: left;
    border-radius: 8px;
    margin: 0 10px;
}

.locais-item div {
    width: 460px;
    float: left;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.locais-item h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: left;
}

.locais-item p {
    max-width: 320px;
    line-height: 18px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    padding: 10px 20px;
}

.assine {
    display: flex;
    background-color: #cbc7b6;
    padding: 20px 0px 2px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.assine-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.assine-container::after,
.assine-container::before {
    content: "";
    display: table;
    clear: both;
}

.assine-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.assine-info h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.assine-info p {
    font-style: italic;
    margin-bottom: 20px;
}

form {
    margin: 16px;
}

footer {
    display: flex;
    background-color: #878580;
    padding: 14px 4px;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    background-color: #878580;
    padding: 14px 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-container::after,
.footer-container::before {
    content: "";
    display: table;
    clear: both;
}

footer p {
    line-height: 22px;
    font-size: 16px;
}

footer img {
    margin: 14px;
}

/*  Flex */

.flex {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.flex-row {
	margin-left: -10px;
	margin-right: -10px;
	display: flex;
	flex-wrap: wrap;
}

.flex-item-4, .flex-item-6, .flex-item-8 {
	margin-left: 10px;
	margin-right: 10px;
	align-self: flex-start;
}

.flex-item-4 {
	flex: 0 0 calc(33.333% - 20px);
	max-width: calc(33.333% - 20px);
}

.flex-item-6 {
	flex: 0 0 calc(50% - 20px);
	max-width: calc(50% - 20px);
}

.flex-item-8 {
    display: flex;
    flex: 0 0 calc(66.666% - 20px);
    max-width: calc(66.666% - 20px);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.flex-item-8 h1::after{
    background: #000;
}

.fixed-top {
    padding: 0px!important;
}

.filtro {
    display: flex;
    background: #e7e4d8;
    border: 3px solid #d6d3c8;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.whats{
    width: 70px;
    margin: 4px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-whats {
    transition: all 0.4s ease 0s;
    height: 70px;
    width: 70px;
}
.img-whats:hover {
    height: 77px;
    width: 77px;
}

.img-whats2 {
    transition: all 0.4s ease 0s;
    height: 70px;
}

.img-whats2:hover {
    height: 77px;
}

/* Menu Produtos */

.header-informacoes  {
    display: flex;
    background: #d6d3c8;
    padding: 8px 0;
    text-align: center;
    justify-content: center;
}

.header-informacoes p {
    font-size: 13px;
}

.header-logo img {
    width: 180px;
    display: block;
    margin: 14px auto;
}

.header-logo2 img {
    width: 350px;
    display: block;
    margin: 14px auto;
}

.header-menu {
    display: flex;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    margin-bottom: 40px;
    padding: 20px 0;
    justify-content: center;
}

.header-menu li {
	display: inline-block;
}

.header-menu li a {
	display: block;
	padding: 5px 10px 5px 0;
	text-decoration: none;
	color: #252525;
	font-size: 1.125em;
}

.header-menu li a::before {
	content: '';
	padding-right: 10px;
}

.header-menu li:first-child a::before {
	content: '';
}


.filtro h2 {
	font-size: 1.125em;
	padding: 10px 0
}

.filtro ul {
    display: flex;
    border-top: 3px solid #c0beb4;
    border-bottom: 3px solid #c0beb4;
    padding: 10px 0;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.filtro li {
	font-style: italic;
	font-size: 1.125em;
	line-height: 2;
}

.filtro li::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #c0beb4;
	float: right;
	margin-top: 5px;
    margin-left: 135px;
}

.sabor {
	overflow: hidden;
}

.sabor span {
	text-indent: -200px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: currentColor;
	border-radius: 50%;
	vertical-align: middle;
}

.sabor-3 {
	color: #492901;
	box-shadow: 20px 0 0 0 currentColor,
							40px 0 0 0 currentColor;
}

.sabor-4 {
	color: #c17139;
	box-shadow: 20px 0 0 0 currentColor,
							40px 0 0 0 currentColor,
							60px 0 0 0 currentColor;
}

.sabor-5 {
	color: #d7a54d;
	box-shadow: 20px 0 0 0 currentColor,
							40px 0 0 0 currentColor,
							60px 0 0 0 currentColor,
							80px 0 0 0 currentColor;
}

/*PRODUTOS*/

.produtos h1 {
    font-weight: normal;
    color: black;
}

.produtos li img {
	display: block;
	max-width: 100%;
	border: 3px solid #fff;
	box-shadow: 0 0 0 3px #252525;
	margin: 40px 3px 0 3px;
}

.produtos li span {
	background: #e7e4d8;
	padding: 10px;
	font-size: 0.875em;
	font-weight: bold;
	position: relative;
	top: -15px;;
}

.produtos li h2 {
    font-size: 14px;
    font-weight: bold;
}

.produtos header {
	display: flex;
}

@media (max-width: 940px)  {

    .produtos-item2  {
		flex-direction: column;
	}

    .produtos2 header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

    .produtos header {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

    nav {
        display: none !important;
    }

    .navbar-toggler {
        display: block !important;
    }

    .filtro {
		display: none;
	}

    .flex {
		max-width: 300px;
		flex-direction: column;
	}

	.flex-item-4, .flex-item-8 {
		margin-left: 0px;
		margin-right: 0px;
		max-width: 100%;
		align-self: auto;
	}

    .container{
        display: flex;
        flex-direction: column;
        padding: 0px;
        align-content: center;
        align-items: center;
    }

    h1{
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .container-item {
        width: 300px;
    }

    .container p{
        margin-top: 0px;
        font-size: 14px;
        max-width: 340px;
        padding: 20px;
        align-items: center;
    }

    .produtos-container{
        flex-direction: column;
        align-items: center;
    }

    .locais-item{
        flex-direction: column;
        align-items: center;
    }
    .locais-item p {
        margin-bottom: 0px;
    }

    footer p {
        line-height: 17px;
        padding: 0px 0px;
        margin: 3px;
        font-size: 13px;
    }

    footer img{
        margin: 5px;
        width: 92px;
    }

    .locais-item img {
        width: 333px;
    }

    a {
        font-size: 12px;
    }

    .assine {
        padding: 0px;
    }

    .locais {
        padding: 0px;
    }

    .produto-btn {
        width: 137px;
        font-size: 14px;
        padding: 10px 0;
    }
}

@media (max-width: 614px) {
    .footer-container{
        flex-direction: column;
    }

    footer {
        padding: 10px;
    }

    p{
        font-size:12px; 
    }
}