*{
    padding:0px;
    margin: 0px;
    font-family:Georgia, serif;
    color: #252525;
}

header{
    background: #252525;
    padding: 20px 0px;
    color:#fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

nav  {
    display: flex;
}

ul {
    display: flex;
}

li{
    padding: 10px;
    list-style: none
}

a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

main{
    background-image: url(img/bg-intro.jpg);
    background-size: cover;
    padding: 150px 0px;
    text-align: center;
}

h1{
    color: #fff;
    font-size: 50px
}