*{
    padding:0px;
    margin: 0px;
    font-family:Georgia, serif;
    color: #252525;
}

header{
    background: #252525;
    padding: 20px 0px;
    color:#fff;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

nav  {
    display: flex;
}

ul {
    display: flex;
}

li{
    padding: 10px;
    list-style: none
}

a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
}

main{
    background-image: url(img/bg-intro.jpg) ;
    background-position: center;
    background-size: cover ;
    padding: 150px 0px;
    text-align: center;
}

h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

h1::after{
    content:'';
    display: block;
    width: 27px;
    height: 4px;
    background:#fff;
    margin: 10px auto;
}

h2{
    text-align: center;
    font-size: 36px;
    margin-bottom:60px;
}

main p {
    color:#d6d3c8;
}

p{
    color: #252525;
    font-weight: bold;
    font-size: 18px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding:30px;
}

.container::after, .container::before{
    content:'';
    display: table;
    clear:both;
}

.container-item{
    width:460px;
    float: left;
    margin:0 10px;
}

.container-item img{
    display: block;
    max-width: 100%;
}

.container-item h3{
    font-size: 30px;
    line-height: 20px;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align:center;
    padding: 5px 0 10px 0;
    margin-top: -25px;
    margin-bottom:30px;
    position: relative;
}

.container p{
    color:#252525;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    margin: 30px auto;
    max-width: 460px;
}


.produtos{
    background: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}

.produtos-container{
    max-width: 960px;
    color:#252525;
    margin: 0 auto;
}
.produtos-container::before,  .produtos-container::after{
    content: "";
    display: table;
    clear: both;
}

.produtos-item{
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}
.produtos-item h2{
    text-align: center;
    font-size:32px;
    margin-bottom: 20px;
}

.produtos-item h2::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background:currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #d6d3c8;
    box-shadow:  0 0 0 10px currentColor;
} 

h2.produtos-paulista::before{
    color: #492901;
}
h2.produtos-carioca::before{
    color: #c17139;
}
h2.produtos-mineiro::before{
    color: #d7a54d;
}

.produtos-item p{
    text-align: center;
    font-size:14px;
    line-height: 20px
}

.produto-btn{
    width: 180px;
    border: 3px solid;
    color:#252525;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin:  20px auto 0 auto;
}

.locais{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}

.locais-item{
    clear: both;
    margin: 60px auto;
    overflow: hidden;
}

.locais-item img {
    width: 460px;
    display: block;
    float: left;
    margin: 0 10px;
}

.locais-item div{
    width: 460px;
    float: left;
    margin: 0 10px;
}

.locais-item h2{
    font-size: 32px;
    margin-bottom:20px;
    text-align: left;
}

.locais-item p {
    font-size: 18px;
    max-width:  320px;
    line-height: 18px;
    margin-bottom: 40px;
}

.locais-item a {
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}